.menuStyle {
  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--ternary);
}
/* Background Image  which includes Slanting Section */
.sectionPage {
  background-image: linear-gradient(-111deg, var(--primary) 68%, var(--secondary) calc(30% + 2px));
  padding: 2rem;
}

img {
  flex: 1;
  max-width: 30rem;
  height: 32rem;
  border-radius: 2rem;
}

.headingStyle {
  color: var(--secondary);
  font-size: xx-large;
}
.rightSectionFirstDiv{

}
.rightSectionDiv {
  padding-top: clamp(0.4rem ,4vw, 5rem);
  flex: 1;
  /* resposnive remove this */
  & h2{
    color: var(--ternary);
  }
  & p {
    max-width: 80%;
    line-height: 1.6rem;
    color: var(--ternary);
  }
}

.secondSection{
  background-color: #111111;
}

.overlapp{
  /* text-align: center; */
  /* text-align: center; */
}
.down{
  position: relative;
  color: #222222;
  font-size: clamp(1rem,15vw,6rem);
  letter-spacing: 0.6rem;
  font-weight: 900;
  text-align: center;
   max-width: max-content;
   margin-inline: auto;
}
.up{
  position: absolute;
  color: var(--ternary);
  font-size: clamp(0.6rem,8vw,3rem);;
  letter-spacing: 0rem;
  top: 34%;
  left: 20%;
 

}
a{
  text-decoration: none;
}
/*  */
.skillSection{
  background-color:var(--primary);
  padding-inline: clamp(2rem,8vw,10rem);
  /* padding-inline:6rem ; */
  & p{
    color: var(--secondary);
  }

}
.skillStyle{
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  max-width: fit-content;
  padding: 0.4rem;
  color: var(--secondary);
  border: var(--ternary) 2 px solid;
  & p{
    margin-block: auto;
  }
}
.imgStyle{
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}
.circleWidth{
  width: 10rem;
  height: 14rem;
}
@media  (max-width: 600px){
  img{
    max-width: 20rem;
    object-fit: contain;
  }
}